{% include '@ean_theme/partials/header.html.twig' %}

    <div class="container page-formularios py-5">

		{{ page.content }}

    </div>

  {% include '@ean_theme/partials/footer-legales.html.twig' %}
